body {
    font-family: Arial, sans-serif;
    background-color: #FF69B4; /* Cor rosa */
    margin: 0;
    padding: 0;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    border: 10px solid #fff; /* Cor branca */
}

.content {
    padding: 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    font-size: 24px;
    color: #fff;
}

p {
    font-size: 18px;
    color: #fff;
}

.video-container {
    margin-top: 20px;
    animation: fadeIn 2.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Estilo para o vídeo */
.video-container {
    margin: 20px; /* Adicione a margem desejada ao redor do vídeo */
}

/* Responsividade para dispositivos móveis */
@media screen and (max-width: 768px) {
    .video-container iframe {
        width: 100%;
        height: 30vh; /* Ajuste a altura conforme necessário */
    }
}
